.home {
  display: grid;
  grid-template-areas:
    'main'
    'aside';
  min-block-size: 100svh;
  grid-template-rows: 600px auto;

  @media (min-width: 1024px) {
    grid-template-columns: 1fr 600px;
    grid-template-areas:
        'main aside';
    grid-template-rows: auto;
  }

  @media (min-width: 1600px) {
    grid-template-columns: 2fr 1fr;
  }
}

.main {
  grid-area: main;
  display: grid;

  @media (min-width: 1024px) {
    grid-template-rows: 2fr 1fr;
  }
}

.aside {
  grid-area: aside;
}
